
img{
    margin-left: 500px;
    color: aquamarine;
}


.pre-footer-corporate  {

background-color: black;
}

iframe{
    width: 50px;
    height: 30px;
}

div{
    border-color: rgb(245, 240, 240);
    border: 20px;
}

h1,h3{
    color: aliceblue;
    text-align: center;
}